# .clang-format configuration file

BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 0  # Disable column limit
SortIncludes: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Allman